body{
    background-color: #1B1B1B;
    color: white;
    margin: 0;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 150px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 300px;
}

.right-section {
    width: 200px;
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    width: 100%;
}

.video-title {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 40px;
    border-radius: 20px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.video-author, .video-stats {
    font-size: 12px;
    color: #E7E7E7;
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}